{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>AgroChat</title>
  {% load static %}
  <link rel="icon" href="static/images/logo.png" >
  <link rel="stylesheet" href="static/chatbot/css/chatbot.css">
</head>
<body>
<button id="btn-scroll-bottom" style="position: fixed; bottom: 70px; right: 20px; z-index: 100; border-radius: 50%; background-color: gray; display: none; color: white;">
    <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="icon-sm m-1" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
        <line x1="12" y1="5" x2="12" y2="19"></line>
        <polyline points="19 12 12 19 5 12"></polyline>
    </svg>
</button>

<div class="sidebar-nav">
    <il style="text-decoration: none;"><p>AgroChat</p></il>
    <br>
    <button id="btnAskQuestion1" class="btn btn-primary2">O que é o AgroChat?</button>
    <button id="btnAskQuestion2" class="btn btn-primary2">Me de um exemplo de pergunta</button>
    <button id="btnAskQuestion3" class="btn btn-primary2">Depois de amanha, qual sera o clima em Londrina?</button>
    <button id="btnAskQuestion4" class="btn btn-primary2">O que é o Intech Experience?</button>
    <button id="btnAskQuestion6" class="btn btn-primary2">Atualmente, qual é o clima em Londrina?</button>

    {% if user.is_authenticated %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="card-header1" style="text-align: center;"><a href="home">Home</a><a href="logout">Sair</a></div>
    {% else %}
    <div class="card-header1" style="text-align: center;"></div>
    {% endif %}

</div>

<div class="content-container">
<div class="chat-container">
  <div class="card flex-grow-1">
    <div class="card-header bg-primary text-white text-align"></div>
    <div class="card-body messages-box">
      <ul class="list-unstyled messages-list">
        {% for chat in chats %}
          {% if chat.user == request.user %}
            <li class="message sent">
          <div class="message-text">
            <div class="message-sender">
              <b>{{user.username}}</b>
            </div>
            <div class="message-content">
                <br>
              {{chat.message}}
            </div>
          </div>
        </li>
    {% load static %}
        <li class="message received">
          <div class="message-text">
            <div class="message-sender">
              <img id=lgg src="{% static '/images/logo.png' %}"/><b> AgroChat</b>
            </div>
            <div class="message-content">
                <br>
              <div class="response">
                  {{chat.response}}
              </div>
            </div>
          </div>
        </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <br><br>
    <br><br>
    <br><br>
  </div>
  <form class="message-form">
    {%csrf_token%}
    <div class="input-group">
      <input type="text" class="form-control message-input" placeholder="Digite sua mensagem..." >
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary btn-send">Enviar</button>
      </div>
    </div>
  </form>
</div>
</div>
</body>
</html>

<script src="{% static 'chatbot/js/chatbot.js' %}"></script>

{% endblock %}