<!DOCTYPE html>
<html class="pt-br">
  <head>
    <link rel="icon" href="static/logo.png" >
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}AgroChat</title>
    <link rel="stylesheet" href="static/chatbot/css/home.css">
  </head>
  <body>

    <div class="wrapper">
      <div class="parallax__group hero-container">
        <div class="parallax__layer sky"></div>
        <div class="parallax__layer hero-text">
          {% load static %}
          <img id=logo src="{% static 'Transparent.png' %}">

            <ul>
            <li><a class="login" href="login">Login</a></li>
            <li><a class="login" href="register">Registrar</a></li>
            <li><a href="chatbot" class="btn" id="">AgroChat</a></li>
          </ul>

          <div class="year-container">
            <h1><b>Agro</b></h1>
            <h1><b>Wise</b></h1>
          </div>
        </div>
      </div>
      <div class="parallax__group info-container">
         <img id=logo2 src="{% static 'fundobranco.png' %}">
        <div class="text-container">
          <h2>Sobre o AgroChat</h2>
          <p id="agro">O AgroChat é um assistente virtual avançado projetado para fornecer dados climáticos em tempo real aos usuários. Com a integração da tecnologia de inteligência artificial de texto generativo, o AgroChat não apenas apresenta informações meteorológicas atualizadas, mas também as analisa e interpreta. Por meio de insights, previsões e análises em linguagem natural, ele oferece aos usuários uma compreensão detalhada e contextualizada das condições climáticas. Esse assistente é especialmente útil para profissionais do setor agrícola,
            ajudando-os a tomar decisões informadas com base nas condições climáticas.</p>
          <br>
          <br>
          <a href="chatbot" class="btn" id="agrochat-button">AgroChat</a>
        </div>
      </div>
    </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </body>
  <footer>
    <p>Copyright © 2023 AgroWise</p>
  </footer>

<script>
  $(document).ready(function(){
    $('#agrochat-button').on('click', function(e) {
        // Se o usuário estiver autenticado, simplesmente siga o comportamento padrão.
        if ($(this).data('authenticated') === "true") {
            return true;
        }

        // Previna o comportamento padrão para usuários não autenticados.
        e.preventDefault();

        $.ajax({
            url: '/chatbot',
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                // Redireciona o usuário autenticado
                window.location.href = "/chatbot";
            },
            error: function(jqXHR, textStatus, errorThrown) {
                if (jqXHR.status == 401) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Erro',
                        text: jqXHR.responseJSON.error
                    });
                } else {
                    console.error("Ocorreu um erro ao verificar se o usuário está logado:", textStatus, errorThrown);
                }
            }
        });
    });
});
</script>
</html>