{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Login{% endblock %}</title>
  <link rel="stylesheet" href="static/chatbot/css/login.css">
</head>
<body>
<div class="login-container">
  <div class="card">
    <div class="card-header">Login</div>
    <div class="card-body">
      {% if error_message %}
        <div class="alert alert-danger" role="alert">{{ error_message }}</div>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="username">Usuario</label>
          <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group">
          <label for="password">Senha</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
        <a style="text-align: end; color: green;" href="register">Registrar</a>
        <a id="1" style="text-align: right; color: green; margin-left: 128px;" href="inicial">Home</a>
      </form>
    </div>
  </div>
</div>
</body>
</html>
{% endblock %}
